In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [6]:
"""In a jupyter notebook, classification_exercises.ipynb, use a python 
module (pydata or seaborn datasets) containing datasets as a source 
from the iris data. Create a pandas dataframe, df_iris, from this data."""

df_iris = sns.load_dataset('iris')

# print the first 3 rows
print(df_iris.head(3))

# print the number of rows and columns (shape)
print(f"shape: {df_iris.shape}")

# print the column names
print(df_iris.columns)

# print the data type of each column
print(df_iris.info())

# print the summary statistics for each of the numeric variables
print(df_iris.describe())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
shape: (150, 5)
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [50]:
"""Read the Table1_CustDetails table from your spreadsheet exercises 
google sheet into a dataframe named df_google_sheets.

Make sure that the spreadsheet is publicly visible under your sharing 
settings."""

sheet_url = 'https://docs.google.com/spreadsheets/d/1luAKJGwksBk-zCOyqBhYRG2gc5J8X-vhAd9Cm2bLbPw/edit#gid=1023018493'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')


df_google_sheets = pd.read_csv(csv_export_url)


# assign the first 100 rows to a new dataframe, df_google_sheets_sample
df_google_sheets_sample = df_google_sheets[0:100]


# print the number of rows of your original dataframe
print(len(df_google_sheets))

# print the first 5 column names
print(df_google_sheets.columns[0:5])

# print the column names that have a data type of object
print(df_google_sheets.dtypes[df_google_sheets.dtypes == 'object'])
print(df_google_sheets.info())

# compute the range for each of the numeric variables.
df_column_mask = df_google_sheets.apply(pd.api.types.is_float_dtype)
float_columns = df_google_sheets.dtypes[df_column_mask]

print(df_google_sheets[float_columns.index].apply(lambda x: x.max() - x.min()))

7049
Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')
customer_id     object
gender          object
partner         object
dependents      object
payment_type    object
churn           object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7049 non-null   object
 1   gender             7049 non-null   object
 2   is_senior_citizen  7049 non-null   int64
 3   partner            7049 non-null   object
 4   dependents         7049 non-null   object
 5   phone_service      7049 non-null   int64
 6   internet_service   7049 non-null   int64
 7   contract_type      7049 non-null   int64
 8   payment_type       7049 non-null   object
 9   monthly_charges    7049 non-null   float64
 10  total_charges      7038 non-null   float64
 11  churn              7049 non-null   object
 12  tenure             7049 non-null   float64
dtypes: float64(3), int64(4), object(6)
memory usage: 716.0+ KB
None
monthly_charges     100.5
total_charges      8666.0
tenure               79.3
dtype: float64

In [60]:
"""Read the data from this google sheet into a dataframe, df_google."""

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')


df_google = pd.read_csv(csv_export_url)

# print the first 3 rows
print(df_google.head(3))

# print the number of rows and columns
print(df_google.shape)

# print the column names
print(df_google.columns)

# print the data type of each column
print(df_google.info())

# print the summary statistics for each of the numeric variables
df_column_mask = df_google.apply(pd.api.types.is_numeric_dtype)
numeric_columns = df_google.dtypes[df_column_mask]

print(df_google[numeric_columns.index].info())

# print the unique values for each of your categorical variables
categories = ['Survived', 'Pclass', 'Sex', 'Parch', 'Embarked']
print(df_google[categories].apply(lambda x: x.unique()))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
(891, 12)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Age          714 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB
None
Survived                   [0, 1]
Pclass                  [3, 1, 2]
Sex                [male, female]
Parch       [0, 1, 2, 5, 3, 4, 6]
Embarked           [S, C, Q, nan]
dtype: object